/*******************************
	Header/Navbar
*******************************/
body {
	background-color: D3E7F0;
	margin: 0;
}

#header {
	height: 60%;
	width: 100%;
	background-image: url("headerimg.jpg");
	background-size: 100% 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: white;
	font-size: 2em;
	overflow: hidden;

}

#header p {
	color:;
}

#navbar {
	
	
	background-color: white;
	text-align: center;
	margin: auto;
	width:100%;


}

#navbar ul {
	color: white;
display: inline-block;


}


#navbar li {
	
	
	list-style-type: none;
	padding-right: 100px;
	
	font-family: arial;
	float:left;
	color: white;

}

.sticky {
	position: fixed;
	top: 0;
   left: 0;
   z-index:99999;
   padding-bottom:20px;
}

#container {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.4em;
	width: 100%;
	
}



#aboutMe {
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
}

#farmingdale {
	
	width:90%;
	margin: auto;
	background-image: url("farmingdale.jpg");
	background-size: 100% 100%;
	text-align: center;
	overflow: hidden;
	background-repeat: no-repeat;
	
}

#me {
	margin-top: 100px;
	margin-bottom: 100px;
}


#majorinfo {
	opacity: .8;
	max-width: 500px;
	
	width:100%;
	border-style: solid;
	border-color: black;
	background-color:black;
	margin: 0 auto;

}

#graduationFont {
	font-style: italic;
}

#skills {
	
	width:100%;
	background-color: 1BB7FA;
	overflow: hidden;
	padding-bottom:20px;
}

#mainskills img {
	width: 350px;
	height: 200px;
}

#familiarskills img {
	width: 100px;
	height: 100px;
	padding-left: 10px;
}

#skillinfo {
	width: 50%;
	margin: auto;
}

#projects {
	
	width:100%;
	position: relative;
	
}

#projects a {
	text-decoration: underline;
}

#projectContainer {
	width:100%;
	overflow: hidden;
	margin: auto;
}

#projectContainer p {
	font-size: 2em;
	opacity: .9;
}



.projects {
	width:33.3333333333%;
	height:300px;


}

.projectImages {
	width:100%;
	height:100%;
	

}

#projectHeader {
	display: inline-block;

}

#projectHeader p {
	font-size: 1.5em;
}

#landscape {
	display: inline-block;
	float:left;
}

.hoverLand {
	position: absolute;
	opacity: .8;
	background-color: #7798bf;
	width:33.3333333333%;
	height:50%;
	
}



#blackjack  {
	display:inline-block;
	float: right;
}

.hoverBlack {
	position: absolute;
	opacity: .8;
	background-color: #7798bf;
	width:33.3333333333%;
	height:50%;
	
}


#list {
	clear: both;
	margin: auto;
}

.hoverList{
	position: absolute;
	opacity: .8;
	background-color:#7798bf;
	width:33.3333333333%;
	height:50%;
	
}


#contact {
	
	width:100%;
	background-color: 1BB7FA;
	overflow: hidden;
}

#contactForm {
	float:right;
	width:50%;
	
}

#contactNames {
	float: left;
	width:50%;
}

#contactNames img {
	width:100px;
	height:100px;

}

#resume {
	
	width:50%;
	margin: auto;
	border-style: solid;
	border-radius: 5px;
	
}

#resume img {
	width:50px;
}

.fontWhite {
	color:white;
}

#github {
	
	bottom:0;
	display: inline-block;
	
}
#toTop {
	margin: auto;
	text-align: center;
	color: white;
	text-decoration: underline;

}


#footer {
	margin: 0 auto;
	height: 12%;
	width: 100%;
	background-color: black ;
	overflow: hidden;
	color: white;
	text-align: center;
	
}

#footer a {
	color: white;
	
}

a {
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1em;

}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color:#4C3D1F;
}

/* mouse over link */
a:hover {
    
}

/* selected link */
a:active {
    color: #0000FF;
}


/****************************
	Responsiveness
****************************/

/**HEADER**/

@media screen and (max-width:1318px) {
       #navbar li {
       	padding-right: 90px;
               
       }

       
}

@media screen and (max-width:1240px) {
       #navbar li {
       	padding-right: 50px;
               
       }

       
}

@media screen and (max-width:918px) {
       #navbar li {
       	float: none;
         
       }

       .projects {
       	margin: auto;
       	display: block;
       }


}

@media screen and (max-width:900px) {
	#contactForm, #contactNames {
		float: none;
		width: 100%;
	}
}


